body {
    margin: 0 auto 0 0; 
    background: #1F2937;
    color: white;
    padding: 100px 52px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -0.025em;
    width: 500px;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400;
}

.headbreak {
    color: #4ADF86;
}

#generate-btn {
    background: #4ADF86;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 1px green;
    margin-top: 30px;
    margin-bottom: 30px;
}

#results {
    border-top: 2px solid #2F3E53;
    display: flex;
    flex-direction: row;
}

#result-two {
    margin-right: 0;
}

.result {
    background: #273549;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    width: 230px;
    margin-top: 30px;
    margin-right: 34px;
    border-radius: 5px;

}